{% if connexion is defined %}
    <span class="badge badge-success mt-2 d-flex justify-content-center">{{connexion}}</span>
{% else %}
    <span class="badge badge-danger mt-2 d-flex justify-content-center">{{erreur}}</span>
{% endif %}


